@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Permanent Marker";
  font-display: swap;
  src: url("../fonts/PermanentMarker-Regular.woff") format("woff"), url("../fonts/PermanentMarker-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-google:before {
  content: "";
}

._icon-linked-in:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-mountains:before {
  content: "";
}

._icon-app-store:before {
  content: "";
}

._icon-play-market:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #1C1C1D;
  font-size: 18px;
  height: 100%;
  background-color: #7711DD;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper._loaded {
  opacity: 1;
}

._container {
  max-width: 1202px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  position: relative;
  font-size: 16px;
  font-weight: 900;
  border-radius: 10px;
  letter-spacing: 0.45px;
}

.btn::after {
  content: "";
  position: absolute;
  width: calc(100% + 3px);
  height: 100%;
  top: 0;
  left: 0;
}

.btn span {
  position: relative;
  z-index: 2;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  height: 52px;
  display: block;
  padding: 0px 20px;
  background-color: transparent;
  position: relative;
  z-index: 2;
  letter-spacing: 0.5px;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.input._error {
  color: red;
  font-weight: 700;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

._title {
  font-family: "Permanent Marker";
  font-size: 45px;
  line-height: calc(48.5 / 45 * 100%);
  letter-spacing: 2px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.header {
  background-color: #7711DD;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-right: 85px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__column_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
}

.header__column_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 180px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 5;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__item {
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
  margin-right: 15px;
  margin-left: 15px;
}

.header__item._icon-facebook {
  font-size: 15px;
}

.header__item._icon-linked-in {
  font-size: 16px;
}

.menu__body {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #450A80;
  z-index: 4;
  top: 0;
  -webkit-transition: right 0.3s ease 0s;
  -o-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
  right: -120%;
}

.menu__body._active {
  right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 200px;
}

.menu__list li:not(:last-child) {
  margin-bottom: 70px;
}

.menu__link {
  color: #ffffff;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 26px;
}

.icon-menu {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 15px;
  width: 20px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

._no-webp .icon-menu::before{
  background: url("../img/decor-burger.png") center/cover no-repeat; }

.icon-menu::before {
  content: "";
  position: absolute;
  width: 49px;
  top: -16px;
  right: -15px;
  border-radius: 50%;
  height: 50px;
}

.footer {
  position: relative;
  z-index: 2;
  background-color: #7711DD;
  padding-top: 39px;
  padding-bottom: 5px;
}

.footer__column {
  margin-bottom: 30px;
}

.footer__column_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -34px 0px 0px;
}

.footer__list li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 34px;
}

.footer__link {
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 17px;
  line-height: calc(21 / 17 * 100%);
}

.footer__button {
  height: 52px;
  margin: 5px 0px;
  width: 189px;
  color: #ffffff;
}

.footer__button::before {
  position: relative;
  z-index: 2;
  margin-right: 9px;
  font-size: 25px;
  max-width: 25px;
}

._no-webp .footer__button::after{
  background: url("../img/bg-button-yellow.png") center/cover no-repeat; }

._no-webp .footer__button._icon-play-market::after{
  background: url("../img/bg-button-yellow-play-market.png") center/cover no-repeat; }

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__mainscreen {
  position: relative;
  z-index: 2;
}

.page__about {
  position: relative;
  z-index: 3;
}

.page__watch {
  position: relative;
  z-index: 1;
}

.page__stories {
  position: relative;
  z-index: 3;
  background-color: #fff;
  padding: 200px 0;
}

.mainscreen {
  min-height: calc(100vh - 90px);
  background-color: #7711DD;
}

.mainscreen__body {
  padding-top: 163px;
  padding-bottom: 50px;
}

.mainscreen__content {
  position: relative;
  z-index: 3;
  max-width: 575px;
}

.mainscreen__title {
  color: #ffffff;
  font-family: "Permanent Marker";
  font-size: 70px;
  line-height: calc(75.5 / 70 * 100%);
  letter-spacing: 2px;
  max-width: 575px;
}

.mainscreen__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.mainscreen__text {
  max-width: 420px;
  color: #ffffff;
  line-height: calc(27 / 18 * 100%);
  letter-spacing: 0.45px;
}

.mainscreen__text:not(:last-child) {
  margin-bottom: 50px;
}

.mainscreen__button {
  height: 52px;
  color: inherit;
  width: 189px;
  margin-bottom: 20px;
}

.mainscreen__button::before {
  position: relative;
  z-index: 2;
  margin-right: 9px;
  max-width: 25px;
  font-size: 25px;
}

._no-webp .mainscreen__button::after{
  background: url("../img/bg-button-white.png") center/cover no-repeat; }

.mainscreen__images {
  position: absolute;
  width: 120%;
  height: 124%;
  bottom: -10%;
  right: -10%;
}

.images-mainscreen__item {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.images-mainscreen .images-mainscreen__phone,
.images-mainscreen .images-mainscreen__cloud-small,
.images-mainscreen .images-mainscreen__cloud-medium,
.images-mainscreen .images-mainscreen__cloud-big,
.images-mainscreen .images-mainscreen__cloud-blue,
.images-mainscreen .images-mainscreen__cloud-purple {
  position: absolute;
  width: 100%;
  height: 100%;
}

._no-webp .images-mainscreen__phone{
  background: url("../img/phone.png") bottom/cover no-repeat; }

.images-mainscreen__phone {
  bottom: -30px;
  right: 15.034%;
  z-index: 2;
  max-width: 512px;
  max-height: 794px;
}

._no-webp .images-mainscreen__cloud-small{
  background: url("../img/cloud-small.png") bottom/cover no-repeat; }

.images-mainscreen__cloud-small {
  bottom: 32%;
  right: 11.626%;
  max-width: 206px;
  max-height: 176px;
}

._no-webp .images-mainscreen__cloud-medium{
  background: url("../img/cloud-medium.png") bottom/cover no-repeat; }

.images-mainscreen__cloud-medium {
  bottom: 0px;
  right: 34.076%;
  max-width: 309px;
  max-height: 206px;
}

._no-webp .images-mainscreen__cloud-big{
  background: url("../img/cloud-big.png") bottom/cover no-repeat; }

.images-mainscreen__cloud-big {
  bottom: 47%;
  right: 28.063%;
  max-width: 343px;
  max-height: 292px;
}

._no-webp .images-mainscreen__cloud-blue{
  background: url("../img/cloud-blue.png") bottom/cover no-repeat; }

.images-mainscreen__cloud-blue {
  z-index: 3;
  bottom: 24%;
  right: 36.08%;
  max-width: 150px;
  max-height: 101px;
}

._no-webp .images-mainscreen__cloud-purple{
  background: url("../img/cloud-purple.png") bottom/cover no-repeat; }

.images-mainscreen__cloud-purple {
  z-index: 3;
  bottom: -45px;
  right: 0;
  max-width: 420px;
  max-height: 281px;
}

.about {
  background-color: #fff;
}

.about__body {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about__title {
  text-align: center;
  max-width: 501px;
  margin-right: auto;
  margin-left: auto;
}

.about__title:not(:last-child) {
  margin-bottom: 30px;
}

.about__text {
  line-height: calc(27 / 18 * 100%);
  text-align: center;
  max-width: 501px;
  color: #474A57;
  letter-spacing: 0.45px;
  margin-right: auto;
  margin-left: auto;
}

.about__text:not(:last-child) {
  margin-bottom: 60px;
}

.about__slider {
  overflow: visible;
}

.about__slider:not(:last-child) {
  margin-bottom: 50px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #FA6648;
  max-width: 340px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 0px 4px 0px #202020;
          box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  border: 2px solid #1C1C1D;
  margin-right: 30px;
}

.about__item_one {
  background-color: #FFB0BC;
}

.about__item_two {
  background-color: #FFBD12;
}

.about__item_three {
  background-color: #FA6648;
}

.about__item_five {
  background-color: #FFBD12;
}

.about__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__dotts .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__dotts .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border: 2px solid #1C1C1D;
  border-radius: 50%;
  margin: 0px 15px 10px 0px;
  cursor: pointer;
  position: relative;
}

.about__dotts .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFBD12;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.about__dotts .swiper-pagination-bullet-active::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.item-about__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

._no-webp .item-about__image{
  background: url("../img/decor-image.png") top/cover no-repeat; }

.item-about__image {
  height: 73px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 88px;
          flex: 0 0 88px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-about__image:not(:last-child) {
  margin-right: 22.74px;
}

.item-about__image::before {
  font-size: 28px;
  max-width: 44.7px;
}

.item-about__title {
  font-size: 20px;
  margin-bottom: 15px;
  max-width: 173px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: calc(24.38 / 20 * 100%);
  color: #ffffff;
}

.item-about__text {
  font-size: 16px;
  line-height: calc(19.5 / 16 * 100%);
  letter-spacing: 0.5px;
  color: #ffffff;
}

.watch {
  background-color: #7711DD;
}

.watch__body {
  padding-top: 164px;
  padding-bottom: 144px;
}

.watch__content {
  position: relative;
  z-index: 3;
  max-width: 483px;
}

.watch__title {
  color: #ffffff;
}

.watch__title:not(:last-child) {
  margin-bottom: 25px;
}

.watch__text {
  color: #ffffff;
  letter-spacing: 0.45px;
  line-height: calc(27 / 18 * 100%);
}

.watch__text:not(:last-child) {
  margin-bottom: 50px;
}

.watch__image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

._no-webp .watch__watch{
  background: url("../img/watch.png") top/cover no-repeat; }

.watch__watch {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  max-width: 574px;
  max-height: 627px;
  top: 49px;
  right: 147px;
}

.form-watch__input {
  position: relative;
  width: 277px;
  margin-bottom: 20px;
}

._no-webp .form-watch__input::before{
  background: url("../img/decor-input.png") center/cover no-repeat; }

.form-watch__input::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.form-watch__button {
  width: 189px;
  height: 52px;
  color: #ffffff;
  margin-bottom: 20px;
}

._no-webp .form-watch__button::after{
  background: url("../img/bg-button-yellow.png") center/cover no-repeat; }

@media (min-width: 479.98px) {
  .footer__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px -29px 0px 0px;
  }

  .footer__button {
    margin-right: 29px;
  }

  .mainscreen__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mainscreen__button:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 520px) {
  .watch__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form-watch__input:not(:last-child) {
    margin-right: 10px;
  }
}

@media (min-width: 991.98px) {
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__column_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52px;
            flex: 0 0 52px;
  }

  .footer__column_logo:not(:last-child) {
    margin-right: 50px;
  }

  .footer__column_list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
  }

  .footer__column_list:not(:last-child) {
    margin-right: 27px;
  }

  .footer__column_buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 436px;
            flex: 0 0 436px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1214px) {
  ._container {
    max-width: 970px;
  }

  .mainscreen__title {
    max-width: 420px;
  }

  .watch__watch {
    right: 10px;
    max-width: 574px;
    max-height: 627px;
  }
}

@media (max-width: 1214px) and (max-width: 1202px) {
  .watch__watch {
    max-width: calc(300px + 274 * ((100vw - 320px) / 882));
  }

  .watch__watch {
    max-height: calc(325.239px + 301.761 * ((100vw - 320px) / 882));
  }
}

@media (max-width: 1202px) {
  ._title {
    font-size: calc(30px + 15 * ((100vw - 320px) / 882));
  }

  .menu__list {
    padding-top: calc(100px + 100 * ((100vw - 320px) / 882));
  }

  .menu__list li:not(:last-child) {
    margin-bottom: calc(35px + 35 * ((100vw - 320px) / 882));
  }

  .menu__link {
    font-size: calc(20px + 6 * ((100vw - 320px) / 882));
  }

  .footer {
    padding-top: calc(30px + 9 * ((100vw - 320px) / 882));
  }

  .footer {
    padding-bottom: calc(0px + 5 * ((100vw - 320px) / 882));
  }

  .mainscreen__body {
    padding-top: calc(63px + 100 * ((100vw - 320px) / 882));
  }

  .mainscreen__title {
    font-size: calc(34.6px + 35.4 * ((100vw - 320px) / 882));
  }

  .mainscreen__text:not(:last-child) {
    margin-bottom: calc(40px + 10 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__phone {
    max-width: calc(300px + 212 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__phone {
    max-height: calc(493.47px + 300.53 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-small {
    max-width: calc(60px + 146 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-small {
    max-height: calc(50.77px + 125.23 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-medium {
    max-width: calc(100px + 209 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-medium {
    max-height: calc(68px + 138 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-big {
    max-width: calc(120px + 223 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-big {
    max-height: calc(102px + 190 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-blue {
    max-width: calc(40px + 110 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-blue {
    max-height: calc(27px + 74 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-purple {
    max-width: calc(200px + 220 * ((100vw - 320px) / 882));
  }

  .images-mainscreen__cloud-purple {
    max-height: calc(133px + 148 * ((100vw - 320px) / 882));
  }

  .about__body {
    padding-top: calc(50px + 30 * ((100vw - 320px) / 882));
  }

  .about__body {
    padding-bottom: calc(40px + 30 * ((100vw - 320px) / 882));
  }

  .about__text:not(:last-child) {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 882));
  }

  .about__slider:not(:last-child) {
    margin-bottom: calc(45px + 5 * ((100vw - 320px) / 882));
  }

  .about__item {
    max-width: calc(300px + 40 * ((100vw - 320px) / 882));
  }

  .about__item {
    padding-top: calc(18px + 7 * ((100vw - 320px) / 882));
  }

  .about__item {
    padding-bottom: calc(22px + 8 * ((100vw - 320px) / 882));
  }

  .about__item {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 882));
  }

  .about__item {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 882));
  }

  .about__item {
    margin-right: calc(10px + 20 * ((100vw - 320px) / 882));
  }

  .item-about__image:not(:last-child) {
    margin-right: calc(15px + 7.74 * ((100vw - 320px) / 882));
  }

  .watch__body {
    padding-top: calc(70px + 94 * ((100vw - 320px) / 882));
  }

  .watch__body {
    padding-bottom: calc(50px + 94 * ((100vw - 320px) / 882));
  }

  .watch__text:not(:last-child) {
    margin-bottom: calc(35px + 15 * ((100vw - 320px) / 882));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mainscreen__images::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .images-mainscreen__cloud-medium {
    overflow: hidden;
    opacity: 0;
  }

  .images-mainscreen__cloud-big {
    overflow: hidden;
    opacity: 0;
  }

  .images-mainscreen__cloud-blue {
    overflow: hidden;
    opacity: 0;
  }

  .watch__image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__row {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .header__column_right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 168px;
            flex: 0 0 168px;
  }

  .mainscreen {
    min-height: calc(100vh - 70px);
  }
}

@media (max-width: 520px) {
  .watch__content {
    text-align: center;
  }

  .watch__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 479.98px) {
  .footer__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mainscreen__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (any-hover: hover) {
  .header__logo img {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .header__logo:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .header__item {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .header__item:hover {
    color: #1BDBC4;
  }

  .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover {
    color: #1BDBC4;
  }

  .footer__logo img {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .footer__logo:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .footer__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .footer__link:hover {
    color: #1BDBC4;
  }

  .footer__button {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .footer__button:hover {
    color: #000;
  }

  .mainscreen__button {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .mainscreen__button:hover {
    color: #962EFF;
  }

  .form-watch__button {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .form-watch__button:hover {
    color: #000000;
  }
}

@media (max-height: 730px) {
  .images-mainscreen__phone {
    max-width: 300px;
    max-height: 493.47px;
  }

  .images-mainscreen__cloud-small {
    max-width: 60px;
    max-height: 50.77px;
    right: 13%;
  }

  .images-mainscreen__cloud-medium {
    max-width: 100px;
    max-height: 68px;
    bottom: 100px;
    right: 28%;
  }

  .images-mainscreen__cloud-big {
    max-width: 120px;
    max-height: 102px;
    right: 27%;
  }

  .images-mainscreen__cloud-blue {
    max-width: 40px;
    max-height: 27px;
    right: 29%;
    bottom: 28%;
  }

  .images-mainscreen__cloud-purple {
    max-width: 200px;
    max-height: 133px;
    right: 8%;
    bottom: -20px;
  }
}

._webp .icon-menu::before{ background: url(../img/decor-burger.webp) center/cover no-repeat; }

._webp .footer__button::after{ background: url(../img/bg-button-yellow.webp) center/cover no-repeat; }

._webp .footer__button._icon-play-market::after{ background: url(../img/bg-button-yellow-play-market.webp) center/cover no-repeat; }

._webp .mainscreen__button::after{ background: url(../img/bg-button-white.webp) center/cover no-repeat; }

._webp .images-mainscreen__phone{ background: url(../img/phone.webp) bottom/cover no-repeat; }

._webp .images-mainscreen__cloud-small{ background: url(../img/cloud-small.webp) bottom/cover no-repeat; }

._webp .images-mainscreen__cloud-medium{ background: url(../img/cloud-medium.webp) bottom/cover no-repeat; }

._webp .images-mainscreen__cloud-big{ background: url(../img/cloud-big.webp) bottom/cover no-repeat; }

._webp .images-mainscreen__cloud-blue{ background: url(../img/cloud-blue.webp) bottom/cover no-repeat; }

._webp .images-mainscreen__cloud-purple{ background: url(../img/cloud-purple.webp) bottom/cover no-repeat; }

._webp .item-about__image{ background: url(../img/decor-image.webp) top/cover no-repeat; }

._webp .watch__watch{ background: url(../img/watch.webp) top/cover no-repeat; }

._webp .form-watch__input::before{ background: url(../img/decor-input.webp) center/cover no-repeat; }

._webp .form-watch__button::after{ background: url(../img/bg-button-yellow.webp) center/cover no-repeat; }