@charset "UTF-8";

@font-face {
  font-family: "Circular Std";
  font-display: swap;
  src: url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.select__value::before,
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-play:before {
  content: "";
}

._icon-mail:before {
  content: "";
}

._icon-instagram:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-linkedin:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

._icon-youtube:before {
  content: "";
}

._icon-phone:before {
  content: "";
}

._icon-pin:before {
  content: "";
}

._icon-globe:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #020A18;
  color: #ffffff;
  font-size: 16px;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3A68B8;
  border-radius: 5px;
  min-height: 52px;
  color: inherit;
  font-weight: 600;
  padding: 0px 30px;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  cursor: pointer;
  font-size: 14px;
  font-weight: 450;
  font-family: "Circular Std";
  max-width: 90px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: block;
  margin: 0px 9.7px 0px 8.26px;
}

.select__value::before {
  content: "";
  font-size: 13px;
}

.select__value::after {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/p-left.svg") right/100% no-repeat;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #fff;
  display: none;
  position: absolute;
  top: 20px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #4E545E;
  border-top: 0;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
  font-family: "Circular Std";
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  min-height: 52px;
  border-radius: 0 !important;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  padding: 0px 20px;
}

.input._focus {
  -webkit-box-shadow: 0px -3px 9px 6px rgba(188, 196, 202, 0.16) inset;
          box-shadow: 0px -3px 9px 6px rgba(188, 196, 202, 0.16) inset;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

._footer-title {
  font-weight: 500;
  line-height: calc(20.24 / 16 * 100%);
  font-family: "Circular Std";
  margin-bottom: 32px;
  text-transform: uppercase;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2C3647;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.swiper-pagination-bullet:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #020A18;
  border-radius: 15px;
  padding: 50px;
  width: 100%;
  max-width: 600px;
}

.popup__close {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: -10px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__input {
  width: 100%;
  border: 1px solid #3A68B8;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.popup__input:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.popup__input._error {
  border: 1px solid #B82831;
}

.popup_video .popup__body {
  padding: 1px;
  max-width: 600px;
}

.popup_video .popup__body iframe {
  width: 100%;
  min-height: 400px;
  border-radius: 15px;
  overflow: hidden;
}

.popup_video .popup__close {
  right: -10px;
  top: -10px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 50px;
}

.header._scroll .header__wrapper {
  background-color: rgba(11, 19, 31, 0.8);
}

.header._scroll .header__body {
  min-height: 70px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header._scroll .icon-menu {
  top: 25.5px;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #0B131F;
}

.header__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-top: 21px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__logo span {
  display: block;
  margin: 0px 0px 0px 15px;
  font-weight: 600;
  font-size: 22.55px;
  font-size: 22.55px;
  line-height: calc(30.7 / 22.55 * 100%);
  color: #3A68B8;
  padding-top: 15px;
}

.header__logo:not(:last-child) {
  margin-right: 83.91px;
}

.header__btn {
  min-width: 110px;
  position: relative;
  z-index: 5;
}

.menu__link {
  color: inherit;
  font-weight: 600;
  line-height: calc(22 / 16 * 100%);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: #4881E4;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #09101E;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 76px;
  padding-bottom: 106px;
}

.footer__item {
  margin: 0px 0px 40px 0px;
}

.footer__item_lists {
  min-width: 455px;
  max-width: 810px;
}

.contacts-footer__head {
  margin-bottom: 37px;
}

.contacts-footer__logo {
  margin: 0px 0px 9.86px 0px;
}

.contacts-footer__logo img {
  display: block;
  margin: 0px 0px 8px 0px;
}

.contacts-footer__logo span {
  display: block;
  color: #3A68B8;
  font-size: 15.96px;
  font-weight: 600;
  line-height: calc(21.74 / 15.96 * 100%);
}

.contacts-footer__text {
  font-size: 14px;
  line-height: calc(17.71 / 14 * 100%);
  font-weight: 450;
  font-family: "Circular Std";
  opacity: 0.6;
}

.contacts-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  text-align: left;
  font-size: 14px;
}

.contacts-footer__link:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-footer__link::before {
  font-size: 16px;
  margin: 0px 10px 0px 0px;
}

.lists-footer__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.lists-footer__list li:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.lists-footer__link {
  font-size: 14px;
  line-height: calc(17.71 / 14 * 100%);
  color: inherit;
  opacity: 0.6;
}

.about-footer__text {
  font-size: 14px;
  line-height: calc(17.71 / 14 * 100%);
  font-family: "Circular Std";
  font-weight: 450;
  opacity: 0.6;
  margin: 0px 0px 29px 0px;
}

.about-footer__link {
  display: block;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 14px;
  color: inherit;
  margin: 0px 0px 21px 0px;
}

.about-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 27.75px 0px;
}

.about-footer__item {
  color: inherit;
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 25px;
}

.about-footer__item:not(:last-child) {
  margin-right: 25px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen {
  min-height: 100vh;
  position: relative;
  background-color: #09101E;
}

.mainscreen__container {
  position: relative;
  z-index: 2;
}

.mainscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 260px;
  padding-bottom: 8.45%;
}

.mainscreen__head {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 600px;
  margin-bottom: 12%;
}

.mainscreen__label {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(28.8 / 18 * 100%);
  color: #3A68B8;
  text-transform: uppercase;
}

.mainscreen__label:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.mainscreen__title {
  font-weight: 800;
  line-height: calc(71.5 / 55 * 100%);
  font-size: 55px;
}

.mainscreen__title:not(:last-child) {
  margin-bottom: 40px;
}

.mainscreen__text {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(28.8 / 18 * 100%);
  opacity: 0.7;
}

.mainscreen__text:not(:last-child) {
  margin-bottom: 50px;
}

.mainscreen__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainscreen__button {
  font-size: 20px;
}

.mainscreen__button:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.mainscreen__button_video::before {
  font-size: 27px;
  margin: 0px 10px 0px 0px;
}

.mainscreen__items {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 29.55px 0px 0px;
}

.mainscreen__item {
  display: block;
  margin: 0px 0px 30px 0px;
}

.mainscreen__item img {
  max-width: 207px;
}

.mainscreen__bg {
  position: absolute;
  top: 17.247%;
  width: calc(332px + 300 * ((100vw - 320px) / 1600));
  height: calc(334px + 300 * ((100vw - 320px) / 1600));
  right: calc(-220px + 403 * ((100vw - 320px) / 1600));
}

.blog {
  position: relative;
  overflow: hidden;
}

.blog__container {
  position: relative;
  z-index: 2;
}

.blog__body {
  padding-top: 130px;
  padding-bottom: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 484px;
  min-height: calc(369px + 300 * ((100vw - 320px) / 1600));
}

.blog__title {
  font-size: 40px;
  font-weight: 700;
  line-height: calc(52 / 40 * 100%);
  margin-bottom: 30px;
}

.blog__text {
  line-height: calc(25.6 / 16 * 100%);
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: 50px;
}

.blog__button {
  max-width: 150px;
}

.blog__bg {
  position: absolute;
  width: calc(425px + 300 * ((100vw - 320px) / 1600));
  height: calc(389px + 280 * ((100vw - 320px) / 1600));
  top: 130px;
  left: calc(-280px + 510 * ((100vw - 320px) / 1600));
}

.services__body {
  padding-top: 10px;
  padding-bottom: 0px;
}

.services__slider {
  min-width: 0;
  padding-bottom: 50px;
}

.services__slide {
  max-width: 362px;
}

.services__item {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-41.9%, #0d1522), color-stop(115.68%, #18202c));
  background: -o-linear-gradient(top, #0d1522 -41.9%, #18202c 115.68%);
  background: linear-gradient(180deg, #0d1522 -41.9%, #18202c 115.68%);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.services__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__icon:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.services__title {
  font-size: 25px;
  font-weight: 700;
  line-height: calc(31.25 / 25 * 100%);
  opacity: 0.7;
}

.services__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.services__text {
  line-height: calc(25.6 / 16 * 100%);
  font-weight: 600;
  opacity: 0.7;
}

.about {
  position: relative;
}

.about__container {
  position: relative;
  z-index: 2;
}

.about__body {
  padding-top: 170px;
  padding-bottom: 170px;
}

.about__info {
  padding-top: 44px;
  padding-bottom: 43px;
  max-width: 548px;
}

.about__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: calc(52 / 40 * 100%);
}

.about__text {
  max-width: 460px;
  font-weight: 600;
  line-height: calc(25.6 / 16 * 100%);
}

.about__text p:not(:last-child) {
  margin-bottom: 20px;
}

.about__bg {
  position: absolute;
  width: calc(442px + 200 * ((100vw - 320px) / 1600));
  height: calc(380px + 171 * ((100vw - 320px) / 1600));
  top: 185px;
  right: calc(-400px + 787 * ((100vw - 320px) / 1600));
  max-height: 551px;
  max-width: 642px;
}

@media (min-width: 479.98px) {
  .mainscreen__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mainscreen__item img {
    max-width: 100%;
  }

  .mainscreen__item:not(:last-child) {
    margin: 0px 35px 30px 0px;
  }
}

@media (min-width: 767.98px) {
  ._anim-image {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform: translateX(20%) scale(0.5);
        -ms-transform: translateX(20%) scale(0.5);
            transform: translateX(20%) scale(0.5);
  }

  ._anim-image_blog {
    -webkit-transform: translateX(-20%) scale(0.5);
        -ms-transform: translateX(-20%) scale(0.5);
            transform: translateX(-20%) scale(0.5);
  }

  ._anim-image._active {
    -webkit-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }

  .header._scroll .header__body {
    min-height: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__item {
    max-width: 261px;
  }

  .footer__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }

  .footer__item:not(:first-child) {
    padding: 23px 0px 0px 0px;
  }

  .lists-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .lists-footer__item {
    max-width: 165px;
  }
}

@media (min-width: 991.98px) {
  .header__menu {
    max-width: 420px;
  }

  .header__menu:not(:last-child) {
    margin-right: 256px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__list li {
    margin-bottom: 10px;
  }

  .menu__list li:not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #09101E;
  }
}

@media (min-width: 1182px) {
  .mainscreen__button {
    min-width: 171px;
  }

  .blog__info {
    margin-right: 30px;
  }

  .blog__text {
    max-width: 460px;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }

  .footer__body {
    padding-right: 100px;
    padding-left: 100px;
  }

  .footer__item_contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__item_lists {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__item_about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .mainscreen__head {
    margin-bottom: 60px;
  }

  .mainscreen__items {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__bg {
    right: calc(-450px + 837 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1182px) and (max-width: 1170px) {
  .footer__body {
    padding-right: calc(0px + 100 * ((100vw - 320px) / 850));
  }

  .footer__body {
    padding-left: calc(0px + 100 * ((100vw - 320px) / 850));
  }

  .mainscreen__head {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  ._footer-title {
    margin-bottom: calc(20px + 12 * ((100vw - 320px) / 850));
  }

  .popup__body {
    padding: calc(30px + 20 * ((100vw - 320px) / 850));
  }

  .popup_video .popup__body {
    max-width: calc(320px + 280 * ((100vw - 320px) / 850));
  }

  .popup_video .popup__body iframe {
    min-height: calc(168px + 232 * ((100vw - 320px) / 850));
  }

  .header__body {
    padding-top: calc(15px + 6 * ((100vw - 320px) / 850));
  }

  .header__body {
    padding-bottom: calc(15px + 7 * ((100vw - 320px) / 850));
  }

  .header__logo span {
    font-size: calc(18px + 4.55 * ((100vw - 320px) / 850));
  }

  .header__logo span {
    padding-top: calc(10px + 5 * ((100vw - 320px) / 850));
  }

  .header__logo:not(:last-child) {
    margin-right: calc(50px + 33.91 * ((100vw - 320px) / 850));
  }

  .footer__body {
    padding-top: calc(40px + 36 * ((100vw - 320px) / 850));
  }

  .footer__body {
    padding-bottom: calc(0px + 106 * ((100vw - 320px) / 850));
  }

  .contacts-footer__head {
    margin-bottom: calc(30px + 7 * ((100vw - 320px) / 850));
  }

  .mainscreen__body {
    padding-top: calc(130px + 130 * ((100vw - 320px) / 850));
  }

  .mainscreen__title {
    font-size: calc(35px + 20 * ((100vw - 320px) / 850));
  }

  .mainscreen__title:not(:last-child) {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 850));
  }

  .mainscreen__text:not(:last-child) {
    margin-bottom: calc(40px + 10 * ((100vw - 320px) / 850));
  }

  .blog__body {
    padding-top: calc(40px + 90 * ((100vw - 320px) / 850));
  }

  .blog__body {
    padding-bottom: calc(40px + 130 * ((100vw - 320px) / 850));
  }

  .blog__title {
    font-size: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .blog__title {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .blog__text {
    margin-bottom: calc(40px + 10 * ((100vw - 320px) / 850));
  }

  .blog__bg {
    top: calc(40px + 90 * ((100vw - 320px) / 850));
  }

  .services__body {
    padding-top: calc(30px + -20 * ((100vw - 320px) / 850));
  }

  .services__body {
    padding-bottom: calc(30px + -30 * ((100vw - 320px) / 850));
  }

  .services__slider {
    padding-bottom: calc(40px + 10 * ((100vw - 320px) / 850));
  }

  .services__item {
    padding: calc(20px + 10 * ((100vw - 320px) / 850));
  }

  .services__title {
    font-size: calc(22px + 3 * ((100vw - 320px) / 850));
  }

  .about__body {
    padding-top: calc(40px + 130 * ((100vw - 320px) / 850));
  }

  .about__body {
    padding-bottom: calc(40px + 130 * ((100vw - 320px) / 850));
  }

  .about__info {
    padding-top: calc(0px + 44 * ((100vw - 320px) / 850));
  }

  .about__info {
    padding-bottom: calc(0px + 43 * ((100vw - 320px) / 850));
  }

  .about__title {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 850));
  }

  .about__title {
    font-size: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .about__text p:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 850));
  }

  .about__bg {
    top: calc(40px + 145 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
    max-width: 160px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__btn {
    margin: 0px 50px 0px 0px;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-41.9%, rgba(8, 16, 30, 0.9)), color-stop(260.24%, rgba(41, 82, 154, 0.9)));
    background: -o-linear-gradient(top, rgba(8, 16, 30, 0.9) -41.9%, rgba(41, 82, 154, 0.9) 260.24%);
    background: linear-gradient(180deg, rgba(8, 16, 30, 0.9) -41.9%, rgba(41, 82, 154, 0.9) 260.24%);
    padding: 130px 30px 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body._active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .menu__list {
    margin: 0px 0px 40px 0px;
    text-align: center;
  }

  .menu__list li:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }

  .menu__link {
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 41px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contacts-footer__link {
    font-size: 16px;
  }

  .contacts-footer__link::before {
    font-size: 18px;
  }

  .about-footer__item {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    min-height: 5px;
  }

  .header__logo img {
    max-height: 40px;
  }

  .header__logo span {
    max-width: 160px;
    padding: 5px 0 0 0;
  }

  .header__btn {
    margin: 0px 0 0px 0;
    width: 100%;
    max-width: 300px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__item {
    max-width: 300px;
    text-align: center;
  }

  .footer__item_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts-footer__logo img {
    margin: 0px auto 8px auto;
  }

  .lists-footer__item {
    max-width: 300px;
    margin: 0px auto;
  }

  .lists-footer__item:not(:last-child) {
    margin: 0px auto 40px auto;
  }

  .about-footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mainscreen__bg {
    top: 17.247%;
    right: -100px;
    width: 332px;
    height: 334px;
    opacity: 0.3;
  }

  .blog__bg {
    left: -100px;
    width: 425px;
    height: 389px;
    opacity: 0.3;
  }

  .about__bg {
    right: -100px;
    width: 425px;
    height: 389px;
    opacity: 0.3;
  }
}

@media (max-width: 767.98px) and (max-width: 1170px) {
  .blog__bg {
    left: calc(-200px + 100 * ((100vw - 320px) / 850));
  }

  .blog__bg {
    width: calc(405px + 20 * ((100vw - 320px) / 850));
  }

  .blog__bg {
    height: calc(369px + 20 * ((100vw - 320px) / 850));
  }

  .about__bg {
    right: calc(-200px + 100 * ((100vw - 320px) / 850));
  }

  .about__bg {
    width: calc(405px + 20 * ((100vw - 320px) / 850));
  }

  .about__bg {
    height: calc(369px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 479.98px) {
  .mainscreen__body {
    padding-bottom: 40px;
  }

  .mainscreen__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mainscreen__button {
    width: 100%;
  }

  .mainscreen__button:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .mainscreen__bg {
    opacity: 0.1;
  }

  .blog__bg {
    opacity: 0.1;
  }

  .services__slide {
    max-width: 320px;
  }

  .about__bg {
    opacity: 0.1;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
  .header._scroll .icon-menu {
    top: 36px;
  }
}

@media (min-width: 991.98px) and (max-width: 1182px) {
  .header__menu:not(:last-child) {
    margin-right: 80px;
  }
}

@media (min-width: 991.98px) and (max-width: 1170px) {
  .menu__list li:not(:last-child) {
    margin-right: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .btn {
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
  }

  .btn:hover {
    background-color: #2E5494;
  }

  .header._scroll .header__wrapper:hover {
    background-color: rgba(11, 19, 31, 0.9);
  }

  .menu__link:hover {
    color: #4881E4;
  }

  .contacts-footer__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .contacts-footer__link:hover {
    color: #4881E4;
  }

  .lists-footer__link {
    position: relative;
  }

  .lists-footer__link::before {
    content: "";
    position: absolute;
    width: 0;
    -webkit-transition: width 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s;
    transition: width 0.3s ease 0s;
    left: 0;
    bottom: -2px;
    background-color: #4881E4;
    height: 1px;
  }

  .lists-footer__link:hover::before {
    width: 100%;
  }

  .about-footer__link:hover {
    text-decoration: underline;
  }

  .about-footer__item {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .about-footer__item:hover {
    opacity: 1;
    color: #4881E4;
  }

  .mainscreen__item {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .mainscreen__item:hover {
    -webkit-filter: saturate(300%);
            filter: saturate(300%);
  }
}