@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-beans:before {
  content: "\e900";
}

._icon-mountains:before {
  content: "\e901";
}

._icon-arrow:before {
  content: "\e902";
}

._icon-cart:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Nunito";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nunito";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #151D28;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 26px;
  height: 32px;
  border-radius: 15px;
  background-color: #C7A17A;
  color: #F9FBFF;
  font-size: 16px;
}

.btn_info {
  padding: 0px 11px;
  color: #151D28;
  background-color: transparent;
}

._label {
  font-weight: 600;
  text-align: center;
  color: #415167;
  line-height: 120%;
  margin: 0px 0px 6px 0px;
  font-size: 20px;
}

._title {
  text-align: center;
  color: #415167;
  font-weight: 900;
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 113.33333%;
}

._subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #232C38;
  line-height: 116.66667%;
}

._text {
  font-size: 16px;
  line-height: 137.5%;
  font-weight: 300;
}

._flyImage._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.btn-buy._hold {
  opacity: 0.2;
  cursor: default;
}

._prices {
  margin: 0px 0px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._price {
  color: #C7A17A;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

._price:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

._price_old {
  font-size: 14px;
  color: #151D28;
  font-weight: 300;
  font-style: italic;
  line-height: 136.42857%;
  text-decoration: line-through;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-slide.swiper-slide-visible {
  opacity: 1;
  pointer-events: all;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}

.header._scroll .header__body {
  min-height: 50px;
}

.header._scroll .header__actions {
  top: 20px;
}

.header__wrapper {
  position: fixed;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 122px;
  padding: 10px 0px;
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
}

.header__actions {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__cart._active .cart-header__body {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.cart-header__icon {
  font-size: 24px;
  position: relative;
  color: #F9FBFF;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.cart-header__icon span {
  position: absolute;
  top: -12px;
  color: #F9FBFF;
  right: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  font-size: 14px;
  height: 20px;
  border-radius: 50%;
  background-color: #C7A17A;
}

.cart-header__body {
  background-color: #415167;
  border: 1px solid #C7A17A;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
          transform: translate(0, 20px);
  top: 37px;
  right: -100px;
  padding: 15px;
  width: 300px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 5;
}

.list-cart {
  overflow: auto;
  max-height: 200px;
}

.list-cart__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  background-color: #EDF0F5;
}

.list-cart__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 0px 10px;
}

.list-cart__title {
  color: #EDF0F5;
  margin: 0px 0px 10px 0px;
  font-weight: 700;
}

.list-cart__quantity {
  font-size: 14px;
  color: #EDF0F5;
  margin: 0px 0px 15px 0px;
}

.list-cart__delete {
  font-size: 14px;
  color: red;
  font-weight: 400;
}

.list-cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list-cart__item:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.menu__body {
  position: fixed;
  z-index: 6;
  overflow: auto;
  top: 0;
  background-color: #415167;
  height: 100%;
  width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 230px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
}

.menu__body._active {
  right: 0;
}

.menu__list li:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.menu__link {
  color: #EDF0F5;
  line-height: 150%;
  position: relative;
}

.menu__link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #C7A17A;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__link._active {
  font-weight: 700;
}

.menu__link._active::before {
  width: 100%;
}

.icon-menu {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 3px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F9FBFF;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.footer {
  background-color: #EDF0F5;
}

.footer__body {
  text-align: center;
  padding: 18px 0 20px 0;
}

.footer__copy {
  color: #415167;
  font-style: italic;
  line-height: 137.5%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.mainscreen__container {
  position: relative;
  z-index: 2;
  height: 100vh;
  min-height: 400px;
}

.mainscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainscreen__title {
  color: #415167;
  font-size: 54px;
  line-height: 129.62963%;
  max-width: 200px;
  font-weight: 900;
  font-family: "Montserrat";
}

.mainscreen__title p {
  padding: 0 15px;
}

.mainscreen__title span {
  display: inline-block;
  color: #F9FBFF;
  padding: 0 15px;
  margin: 5px 0;
  background-color: #C7A17A;
}

.mainscreen__bg {
  position: absolute;
  height: 100%;
  top: 0;
}

.features__body {
  padding-top: 108px;
  padding-bottom: 68px;
}

.features__title {
  margin-bottom: 72px;
}

.features__column {
  margin: 0px 0px 40px 0px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 17px 0px 0px 0px;
}

.item-features__icon:not(:last-child) {
  margin-bottom: 40px;
}

.item-features__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-features__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.coffee__body {
  padding-top: 108px;
  padding-bottom: 108px;
}

.coffee__title {
  margin-bottom: 72px;
}

.coffee__sliders {
  position: relative;
}

.coffee__slide {
  -webkit-filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
          filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
  margin: 0px 0px 32px 0px;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  pointer-events: none;
}

.coffee__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  height: 100%;
}

.coffee__arrow {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 46%;
  right: -58px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #C7A17A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F9FBFF;
  -webkit-transform: translate(0, -46%);
      -ms-transform: translate(0, -46%);
          transform: translate(0, -46%);
}

.coffee__arrow::before {
  font-size: 24px;
}

.item-coffee__image {
  background-color: #EDF0F5;
  min-width: 42.3%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.item-coffee__info {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 325px;
  padding: 39px;
}

.info-item-coffee__head {
  margin: 0px 0px 24px 0px;
}

.info-item-coffee__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 30px 0px;
}

.info-item-coffee__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-item-coffee__btn:not(:last-child) {
  margin: 0px 18px 0px 0px;
}

.giftest {
  position: relative;
  overflow: hidden;
}

.giftest::before {
  content: '';
  position: absolute;
  width: 76.86%;
  z-index: 1;
  height: 100%;
  background-color: #EDF0F5;
  top: 0;
  left: 0;
}

.giftest__container {
  position: relative;
  z-index: 2;
}

.giftest__body {
  padding-top: 108px;
  padding-bottom: 108px;
}

.giftest__title {
  margin-bottom: 66px;
}

.giftest__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tabs-giftest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 882px;
  width: 100%;
}

.tabs-giftest__navigation {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
}

.tabs-giftest__button {
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 900;
  background-color: #EDF0F5;
  opacity: 0.3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #415167;
  border-left: 1px solid #EDF0F5;
}

.tabs-giftest__button._active {
  background-color: #ffffff;
  opacity: 1;
}

.tabs-giftest-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-giftest-block__left {
  position: relative;
  padding: 0px 117px;
}

.tabs-giftest-block__image {
  position: absolute;
  left: 0;
}

.tabs-giftest-block__right {
  padding: 64px;
  max-width: 558px;
}

.tabs-giftest-block__prices {
  margin: 0px 0px 12px 0px;
}

.tabs-giftest-block__title {
  margin: 0px 0px 12px 0px;
}

.tabs-giftest-block__text {
  margin: 0px 0px 24px 0px;
}

.tabs-giftest-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 31px;
  padding: 0 28px 0 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs-giftest-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.tabs-giftest-block__item:not(:last-child) {
  margin: 0px 15px 15px 0px;
}

.tabs-giftest-block__item::before {
  color: #415167;
}

.tabs-giftest-block__item_beans::before {
  font-size: 26px;
  margin: 0px 27px 0px 0px;
}

.tabs-giftest-block__item_mountains::before {
  font-size: 40px;
  margin: 0px 12px 0px 0px;
}

.tabs-giftest-block__wrapper {
  color: #415167;
  font-weight: 600;
}

.tabs-giftest-block__wrapper p {
  font-weight: 300;
}

.tabs-giftest-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 17px;
}

.tabs-giftest-block__btn:not(:last-child) {
  margin: 0px 12px 0px 0px;
}

.tabs-giftest-block__btn.btn_info {
  padding-left: 33px;
  padding-right: 33px;
}

.tabs-giftest-block__btn.btn {
  padding-left: 33px;
  padding-right: 33px;
}

.combo__body {
  padding-top: 108px;
  padding-bottom: 108px;
}

.combo__title {
  margin-bottom: 72px;
}

.combo__wrapper {
  position: relative;
}

.combo__arrow {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 50%;
  right: -56px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #C7A17A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F9FBFF;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.combo__arrow::before {
  font-size: 24px;
}

.combo__slide {
  -webkit-filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
          filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  pointer-events: none;
}

.combo__item {
  background-color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  margin: 0px auto;
}

.item-combo__image {
  display: block;
  padding: 0px 0px 83.74% 0px;
  background-color: #EDF0F5;
}

.item-combo__info {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 42px;
}

.info-item-combo__head {
  margin: 0px 0px 10px 0px;
}

.info-item-combo__prices {
  margin-bottom: 10px;
}

.info-item-combo__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 32px;
}

.info-item-combo__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-item-combo__btn:not(:last-child) {
  margin: 0px 12px 0px 0px;
}

@media (min-width: 767.98px) {
  .features__row {
    margin: 0px -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
    padding: 0px 50px;
  }

  .coffee {
    position: relative;
  }

  .coffee::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background-color: #415167;
    width: 27.3%;
  }

  .coffee__container {
    position: relative;
    z-index: 2;
  }

  .coffee__title {
    max-width: 331px;
    margin-right: auto;
    margin-left: auto;
  }

  .combo {
    position: relative;
  }

  .combo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    background-color: #415167;
    width: 23.3%;
  }

  .combo__container {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 991.98px) {
  .header._scroll .header__wrapper {
    background-color: rgba(199, 161, 122, 0.8);
  }

  .header._scroll .header__wrapper::before {
    content: '';
    position: absolute;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
    right: 0;
    top: 0;
    width: 328px;
    height: 100%;
    background-color: rgba(65, 81, 103, 0.8);
  }

  .header._scroll .menu__body {
    right: -30%;
  }

  .header._scroll .menu__body._active {
    right: 0;
  }

  .header._scroll .icon-menu {
    visibility: visible;
    opacity: 1;
  }

  .header__actions {
    right: 268px;
    top: 87px;
  }

  .icon-menu {
    right: -247px;
    overflow: hidden;
    opacity: 0;
  }

  .mainscreen__bg {
    width: 42.3%;
    right: 327px;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    max-width: 33.333%;
  }

  .giftest__bg {
    position: absolute;
    z-index: 1;
    max-width: 942px;
    max-height: 670px;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }

  .tabs-giftest__navigation {
    max-width: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1152px) {
  .icon-menu {
    right: -247px;
  }

  .mainscreen__bg {
    width: 49.3%;
  }

  .features__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    max-width: 25%;
  }

  .tabs-giftest-block__image {
    top: 0;
    width: calc(100% + 225px);
    height: 100%;
    margin: 0px 0px 0px -255px;
  }
}

@media (max-width: 1280px) {
  .coffee__arrow {
    right: 10px;
  }

  .combo__arrow {
    right: 5px;
  }
}

@media (max-width: 1152px) {
  ._container {
    max-width: 970px;
  }

  .coffee__arrow {
    top: 48%;
    -webkit-transform: translate(0, -48%);
        -ms-transform: translate(0, -48%);
            transform: translate(0, -48%);
  }
}

@media (max-width: 1140px) {
  ._label {
    font-size: calc(17px + 3 * ((100vw - 320px) / 820));
  }

  ._title {
    font-size: calc(27px + 3 * ((100vw - 320px) / 820));
  }

  .menu__body {
    width: calc(-70px + 398 * ((100vw - 320px) / 820));
  }

  .menu__body {
    padding-top: calc(150px + 80 * ((100vw - 320px) / 820));
  }

  .mainscreen__body {
    padding-bottom: calc(40px + 24 * ((100vw - 320px) / 820));
  }

  .mainscreen__title {
    font-size: calc(32px + 22 * ((100vw - 320px) / 820));
  }

  .features__body {
    padding-top: calc(40px + 68 * ((100vw - 320px) / 820));
  }

  .features__body {
    padding-bottom: calc(0px + 68 * ((100vw - 320px) / 820));
  }

  .features__title {
    margin-bottom: calc(23px + 49 * ((100vw - 320px) / 820));
  }

  .item-features__icon:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .coffee__body {
    padding-top: calc(40px + 68 * ((100vw - 320px) / 820));
  }

  .coffee__body {
    padding-bottom: calc(40px + 68 * ((100vw - 320px) / 820));
  }

  .coffee__title {
    margin-bottom: calc(30px + 42 * ((100vw - 320px) / 820));
  }

  .item-coffee__info {
    padding: calc(20px + 19 * ((100vw - 320px) / 820));
  }

  .giftest__body {
    padding-top: calc(40px + 68 * ((100vw - 320px) / 820));
  }

  .giftest__body {
    padding-bottom: calc(40px + 68 * ((100vw - 320px) / 820));
  }

  .giftest__title {
    margin-bottom: calc(30px + 36 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__right {
    padding: calc(20px + 44 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__right {
    max-width: calc(490px + 68 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__info {
    margin-bottom: calc(0px + 31 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__buttons {
    padding-right: calc(0px + 17 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__btn.btn_info {
    padding-left: calc(11px + 22 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__btn.btn_info {
    padding-right: calc(11px + 22 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__btn.btn {
    padding-left: calc(20px + 13 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__btn.btn {
    padding-right: calc(20px + 13 * ((100vw - 320px) / 820));
  }

  .combo__body {
    padding-top: calc(40px + 68 * ((100vw - 320px) / 820));
  }

  .combo__body {
    padding-bottom: calc(40px + 68 * ((100vw - 320px) / 820));
  }

  .combo__title {
    margin-bottom: calc(30px + 42 * ((100vw - 320px) / 820));
  }

  .item-combo__info {
    padding: calc(20px + 22 * ((100vw - 320px) / 820));
  }

  .info-item-combo__prices {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .info-item-combo__text {
    margin-bottom: calc(20px + 12 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .header {
    min-height: 5px;
  }

  .header._scroll .cart-header__body {
    top: 37px;
  }

  .header__wrapper {
    background-color: rgba(199, 161, 122, 0.8);
  }

  .header__body {
    min-height: 70px;
  }

  .header__actions {
    top: 25px;
    right: 88px;
  }

  .cart-header__icon span {
    background-color: #F9FBFF;
    color: #C7A17A;
    border: 1px solid #C7A17A;
  }

  .cart-header__body {
    top: 46px;
    right: -87px;
  }

  .menu__body {
    right: -100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
  }

  .menu__link {
    font-size: 18px;
  }

  .icon-menu {
    right: -60px;
  }

  .mainscreen__title {
    color: #F9FBFF;
  }

  .mainscreen__title span {
    background-color: #C7A17A;
    color: #151D28;
  }

  .mainscreen__bg {
    width: 100%;
    right: 0;
  }

  .mainscreen__bg::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .giftest::before {
    width: 100%;
  }

  .giftest__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-giftest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    width: auto;
  }

  .tabs-giftest__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .tabs-giftest__button {
    padding: 10px 0;
  }

  .tabs-giftest__button._active {
    border-top: 1px solid #EDF0F5;
  }

  .tabs-giftest-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs-giftest-block__left {
    width: 100%;
    background-color: #EDF0F5;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .tabs-giftest-block__image {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 75%;
    height: 100%;
  }
}

@media (max-width: 991.98px) and (max-width: 1140px) {
  .tabs-giftest-block__left {
    padding-top: calc(100px + 100 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__left {
    padding-bottom: calc(100px + 100 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header._scroll .cart-header__body {
    top: 57px;
  }

  .cart-header__body {
    position: fixed;
    width: 100%;
    left: 0;
    top: 70px;
  }

  .features__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .features__item {
    max-width: 320px;
    margin: 0px auto;
  }

  .item-coffee__image {
    min-width: 30%;
  }

  .tabs-giftest-block__left {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

@media (max-width: 767.98px) and (max-width: 1140px) {
  .tabs-giftest-block__left {
    padding-top: calc(100px + 150 * ((100vw - 320px) / 820));
  }

  .tabs-giftest-block__left {
    padding-bottom: calc(100px + 150 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 579px) {
  .coffee__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 320px;
    margin: 0px auto;
  }

  .item-coffee__image {
    min-height: 200px;
    width: 100%;
  }

  .item-coffee__image img {
    max-width: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 479.98px) {
  .btn {
    padding: 0px 20px;
  }
}

@media (min-width: 991.98px) and (max-width: 1140px) {
  .header._scroll .header__wrapper::before {
    width: calc(-70px + 398 * ((100vw - 320px) / 820));
  }

  .header__actions {
    right: calc(-70px + 338 * ((100vw - 320px) / 820));
  }

  .icon-menu {
    right: calc(17px + -264 * ((100vw - 320px) / 820));
  }

  .mainscreen__bg {
    right: calc(-70px + 397 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1152px) and (min-width: 767.98px) {
  .coffee__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-coffee__image {
    min-height: 220px;
    width: 100%;
  }

  .item-coffee__image img {
    max-width: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 767.98px) and (min-width: 579px) {
  .coffee__item {
    max-width: 560px;
    margin: 0px auto;
  }
}

@media (max-width: 1152px) and (min-width: 991.98px) {
  .tabs-giftest-block__image {
    margin-left: -100px;
    width: calc(100% + 100px);
    height: 70%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .item-combo__info {
    padding: 25px;
  }
}

@media (max-width: 1152px) and (min-width: 991.98px) and (max-width: 1140px) {
  .tabs-giftest-block__image {
    margin-left: calc(0px + -100 * ((100vw - 320px) / 820));
  }
}

@media (any-hover: hover) {
  .btn {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .btn:hover {
    background-color: #94775B;
  }

  .btn_info {
    position: relative;
  }

  .btn_info span {
    position: relative;
    z-index: 2;
  }

  .btn_info::before {
    content: '';
    -webkit-transition: height 0.3s ease 0s;
    -o-transition: height 0.3s ease 0s;
    transition: height 0.3s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 15px;
    background-color: #EDF0F5;
  }

  .btn_info:hover {
    background-color: transparent;
  }

  .btn_info:hover::before {
    height: 100%;
  }

  .header._scroll .header__wrapper:hover {
    background-color: rgba(199, 161, 122, 0.9);
  }

  .header._scroll .header__wrapper:hover::before {
    background-color: rgba(65, 81, 103, 0.9);
  }

  .cart-header__icon:hover {
    color: #C7A17A;
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .icon-menu:hover span {
    background-color: #C7A17A;
  }

  .item-coffee__image img {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .item-coffee__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .tabs-giftest__button:hover {
    background-color: #ffffff;
    opacity: 1;
  }

  .item-combo__image img {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .item-combo__image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}